@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}
html body .contenedor__web {
  height: 100vh;
}
html body .contenedor__web header {
  background-color: #e3e6eb;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em 0 1em 0;
}
html body .contenedor__web header .contenedor__ancho {
  padding-left: 300px;
  padding-right: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
html body .contenedor__web header nav {
  width: 100%;
  background-color: #e3e6eb;
}
html body .contenedor__web header nav div div a.nav-item.nav-link {
  text-decoration: none;
  font-size: 1.6em;
  color: black;
  margin: 1em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
html body .contenedor__web header nav div div a.nav-item.nav-link:hover {
  color: white;
  background-color: #1151dc;
}
html body .contenedor__web header nav div div a.nav-item.nav-link:active {
  color: #1151dc;
}

.titulo__principal {
  font-family: "Roboto", sans-serif;
  font-size: 8rem;
  color: #f5f5f7;
  text-transform: uppercase;
  font-weight: 900;
  width: 60%;
}

.titulo__banner {
  font-family: "Roboto", sans-serif;
  font-size: 7rem;
  color: #3b3b3b;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 1px 2px 2px white, 0 0 1em white, 0 0 0.2em white;
}

.subtitle__home {
  font-size: 2em;
  color: #3a393a;
  margin: 1em 0;
  font-weight: bold;
}

.subtitle__home1 {
  font-size: 2em;
  color: #000000;
  margin: 1em 0;
  font-weight: bold;
}

.cards__title {
  font-size: 1.8em;
  color: #0000ff;
  font-weight: 700;
}

.cards__title1 {
  font-size: 1.8em;
  color: #000000;
  font-weight: 700;
}

p {
  font-size: 1.5em;
}

.texto__principal {
  width: 50%;
  color: #e3e6eb;
}

.header__nav {
  height: 100vh;
}

.background__principal {
  background-image: url("../img/canchas.jpg");
  height: calc(100vh - 98px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 4rem;
}

.section__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 5em 5em 0;
  padding-left: 15%;
  padding-right: 15%;
}
.section__home .contenedor__ancho-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
}

.cards__enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem auto;
}
.cards__enlaces a {
  text-decoration: none;
}
.cards__enlaces .article__nosotros,
.cards__enlaces .article__clases,
.cards__enlaces .article__contacto {
  padding: 3em;
  text-align: center;
  -webkit-box-shadow: 2px 2px 5px #949494;
  box-shadow: 2px 2px 5px #949494;
  border-radius: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 0.4rem;
  -webkit-box-sizing: initial;
  box-sizing: initial;
  margin: 0 3rem;
}
.cards__enlaces p {
  color: black;
}

.article__nosotros:hover,
.article__clases:hover,
.article__contacto:hover {
  background-color: #e3e6eb;
}

.nosotros,
.clases,
.contacto {
  width: 100%;
  border-radius: 1em;
}

/*nosotros*/
.banner__nosotros {
  background-image: url(../img/banner-sobrenosotros.png);
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section__nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto [4];
  grid-template-columns: repeat(4, auto);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "imagen text text text";
  gap: 10px;
  margin-top: 3em;
}

.article__sobrenosotros {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: text;
}

.sobrepadel:hover {
  -webkit-transform: scale(1.04, 1.04);
  transform: scale(1.04, 1.04);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section__directrices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr [4];
  grid-template-columns: repeat(4, 5fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "directrices directrices directrices";
  gap: 10px;
  margin: 2rem 0;
}
.section__directrices .article__directrices {
  margin: 1rem auto;
}
.section__directrices img {
  margin: 0.5rem 0 1rem 0;
}

.article__directrices ul li {
  list-style-type: disc;
  font-size: 1.4rem;
  text-align: left;
  color: #0000ff;
}

.article__sobrenosotros {
  padding-left: 1em;
}

.article__directrices {
  width: 90%;
  padding: 2em;
  text-align: center;
  -webkit-box-shadow: 2px 2px 5px #949494;
  box-shadow: 2px 2px 5px #949494;
  border-radius: 1em;
  margin-top: 2em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nosotros {
  width: 100%;
  border-radius: 1em;
}

.nosotros__Porfolio {
  width: 20%;
  border-radius: 1em;
}

.directrices {
  width: 80%;
  border-radius: 1rem;
}

/*clases*/
.banner__clases {
  background-image: url(../img/banner-clases.jpg);
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section__clases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2rem 0;
}
.section__clases h2 {
  text-align: center;
}
.section__clases strong {
  color: #0000ff;
}

/*darclases*/
.banner__darclases {
  background-image: url(../img/banner-darclases.jpg);
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*contacto*/
.banner__contacto {
  background-image: url(../img/banner-contacto.png);
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

div .container.section__contacto {
  margin: 2rem auto;
  padding: 0 3rem;
}
div .container.section__contacto h2 {
  color: #323233;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  -webkit-text-decoration: underline 2px;
  text-decoration: underline 2px;
}

.formulario {
  padding: 2em;
  margin: 1rem 0;
}

.titulo__form {
  text-align: center;
}

label {
  font-size: 1.5em;
}

#button {
  font-size: 1.5em;
  background-color: rgb(70, 69, 71);
  border-color: rgb(70, 69, 71);
  margin-top: 2em;
}

form input,
textarea,
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 0.5rem 0;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus-visible,
input:focus {
  border: 3px solid blue;
}

#submit {
  background-color: blue;
  border: solid 1px white;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#submit:hover {
  background-color: #e3e6eb;
  color: blue;
  border: solid 1px blue;
}

/*footer*/
footer .contenedor__ancho {
  background-color: #e3e6eb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
footer .contenedor__ancho .nav__footer, footer .contenedor__ancho .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .contenedor__ancho .nav__footer nav ul, footer .contenedor__ancho .footer__redes nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
}
footer .contenedor__ancho .nav__footer nav ul li, footer .contenedor__ancho .footer__redes nav ul li {
  list-style: none;
}
footer .contenedor__ancho .nav__footer nav ul li a, footer .contenedor__ancho .footer__redes nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}
footer .contenedor__ancho .nav__footer nav ul li a:hover, footer .contenedor__ancho .footer__redes nav ul li a:hover {
  color: white;
  background-color: #1151dc;
}
footer .contenedor__ancho .nav__footer nav ul li a:active, footer .contenedor__ancho .footer__redes nav ul li a:active {
  color: #e3e6eb;
}

footer div.contenedor__ancho {
  padding: 2rem 0;
}
footer div.contenedor__ancho .nav__footer ul li a,
footer div.contenedor__ancho .footer__redes nav ul li a {
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.p__footer {
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p__footer a {
  text-decoration: none;
  color: blue;
  margin: 0 0.5rem;
  padding: 0;
}

.p__footer a:hover {
  color: blue;
}

.article__footer {
  margin: 2em 0;
}

/*responsive*/
@media only screen and (min-width: 1024px) {
  .contenedor__ancho nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto [7];
    grid-template-columns: repeat(7, auto);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }
  .carrousel {
    background-image: url(../img/canchas.jpg);
    height: 90%;
    background-position: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "carrousel";
    gap: 10px;
  }
  .carrousel .contenedor__ancho h1 {
    font-size: 7em;
    color: #3a393a;
  }
  .contenedor__ancho-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .section__nosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto [4];
    grid-template-columns: repeat(4, auto);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen text text text";
    gap: 10px;
    margin-top: 3em;
  }
  .section__nosotros-porfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto [4];
    grid-template-columns: repeat(4, auto);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text text text imagen";
    gap: 10px;
  }
  .section__directrices {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr [4];
    grid-template-columns: repeat(4, 5fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "directrices directrices directrices";
    gap: 10px;
  }
}
@media only screen and (max-width: 992px) {
  .cards__enlaces {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cards__enlaces .article__nosotros,
  .cards__enlaces .article__clases,
  .cards__enlaces .article__contacto {
    width: 70%;
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 768px) {
  .titulo__principal {
    width: 70%;
    font-size: 3.5rem;
  }
  .texto__principal {
    width: 60%;
  }
  .contenedor__ancho nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }
  .carrousel {
    background-image: url(../img/canchas.jpg);
    height: 50%;
    background-position: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "carrousel";
    gap: 10px;
  }
  .carrousel .contenedor__ancho h1 {
    font-size: 4em;
    color: #3a393a;
  }
  .contenedor__ancho-home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section__nosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen" "text";
    gap: 10px;
    margin-top: 3em;
  }
  .section__nosotros-porfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen" "text";
    gap: 10px;
  }
  .section__directrices {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr [4];
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "directrices" "directrices" "directrices";
    gap: 10px;
  }
  .section__clases {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .clases__notas {
    width: 100%;
  }
  .contenedor__ancho {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 600px) {
  footer .contenedor__ancho {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .contenedor__ancho .article__footer {
    margin: 0 auto;
  }
  footer .contenedor__ancho .nav__footer, footer .contenedor__ancho .footer__redes {
    margin: 0 auto;
  }
  footer .contenedor__ancho .nav__footer nav ul, footer .contenedor__ancho .footer__redes nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .titulo__banner {
    font-size: 3rem;
    text-shadow: 1px 2px 2px white, 0 0 1em white, 0 0 0.2em white;
  }
}
@media only screen and (max-width: 400px) {
  .titulo__principal {
    font-size: 2.4rem;
    color: #ffffff;
  }
  .contenedor__ancho-home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "article_nosotros" "article_Clases" "article_Contacto";
    gap: 10px;
  }
  .section__nosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen" "text";
    gap: 10px;
    margin-top: 3em;
  }
  .section__nosotros-porfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "imagen" "text";
    gap: 10px;
  }
  .section__directrices {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "directrices" "directrices" "directrices";
    gap: 10px;
  }
  .imagen1 {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
