@import "mixin";
/*darclases*/
.banner__darclases {
    background-image: url(../img/banner-darclases.jpg);
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include contenido_centrado;
    @include alinear_centro;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
