@import "colores";
@import "clases";
@import "darclases";
@import "sobrenosotros";
@import "contacto";
@import "footer";
@import "mixin";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    body {
        font-family: 'Roboto', sans-serif;
        background-color: white;
        .contenedor__web {
            height: 100vh;
            header {
                background-color: $color2;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                @include contenido_justificado;
                @include alinear_centro;
                padding: 1em 0 1em 0;
                .contenedor__ancho {
                    padding-left: 300px;
                    padding-right: 300px;
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    @include contenido_justificado;
                    @include alinear_centro;
                    @include direccion;
                    @include wrap;
                }
                nav {
                    width: 100%;
                    background-color: $color2;
                    div div a.nav-item.nav-link{
                        text-decoration: none;
                        font-size: 1.6em;
                        color: black;
                        margin: 1em;
                        text-decoration: none;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        padding: 1rem;
                        -webkit-transition: all .5s;
                        transition: all .5s; 
                        &:hover {
                            color: white;
                            background-color: $color1;
                        }
                        &:active {
                            color: $color1;
                        }
                    }
                }
            }
        }
    }
}

.titulo__principal    {
    font-family: 'Roboto', sans-serif;
    font-size: 8rem;
    color: #f5f5f7;
    text-transform: uppercase;
    font-weight: 900;
    width: 60%;
}

.titulo__banner    {
    font-family: 'Roboto', sans-serif;
    font-size: 7rem;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1px 2px 2px white, 0 0 1em white, 0 0 0.2em white;
}

.subtitle__home {
    font-size: 2em;
    color: #3a393a;
    margin: 1em 0;
    font-weight: bold;
}

.subtitle__home1 {
    font-size: 2em;
    color: #000000;
    margin: 1em 0;
    font-weight: bold;
}

.cards__title {
    font-size: 1.8em;
    color: #0000ff;
    font-weight: 700;
}

.cards__title1 {
    font-size: 1.8em;
    color: #000000;
    font-weight: 700;
}

p {
    font-size: 1.5em;
}

.texto__principal {
    width: 50%;
    color: #e3e6eb;
}

.header__nav {
    height: 100vh;
}

.background__principal {
    background-image: url("../img/canchas.jpg");
    height: calc(100vh - 98px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include alinear_centro;
    padding: 0 4rem;
}

.section__home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 5em  5em 0;
    padding-left: 15%;
    padding-right: 15%;
    .contenedor__ancho-home {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 100%;
    }
}

.cards__enlaces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 6rem auto;
    a {
        text-decoration: none;
    }
    .article__nosotros,
    .article__clases,
    .article__contacto {
        padding: 3em;
        text-align: center;
        -webkit-box-shadow: 2px 2px 5px #949494;
        box-shadow: 2px 2px 5px #949494;
        border-radius: 1em;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin: 0 .4rem;
        -webkit-box-sizing: initial;
        box-sizing: initial;
        margin: 0 3rem;
    }
    p {
        color: black;
    }
}


.article__nosotros:hover,
.article__clases:hover,
.article__contacto:hover {
    background-color: $color2;
}

.nosotros,
.clases,
.contacto {
    width: 100%;
    border-radius: 1em;
}

/*responsive*/
@media only screen and (min-width:1024px)  {

    .contenedor__ancho nav ul{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (auto)[7];
        grid-template-columns: repeat(7, auto);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .carrousel{
        background-image: url(../img/canchas.jpg);
        height: 90%;
        background-position: center;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "carrousel";
        gap: 10px;
    }

    .carrousel .contenedor__ancho h1{
        font-size: 7em;
        color: #3a393a;
    }
    
    .contenedor__ancho-home {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        @include wrap;
        width: 100%;
    }
    
    .section__nosotros {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "imagen text text text";
        gap: 10px;
        margin-top: 3em;
    }

    .section__nosotros-porfolio {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "text text text imagen";
        gap: 10px;
    }

    .section__directrices {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (5fr)[4];
        grid-template-columns: repeat(4, 5fr);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "directrices directrices directrices";
        gap: 10px;
    }
}

@media only screen and (max-width:992px) {
    .cards__enlaces {
        @include orientacion_vertical;
        .article__nosotros,
        .article__clases,
        .article__contacto {
            width: 70%;
            margin: 1rem auto;
        }
    }
}

@media only screen and (max-width:768px)  {
    .titulo__principal {
        width: 70%;
        font-size: 3.5rem;
    }
    .texto__principal{
        width: 60%;
    }
    .contenedor__ancho nav ul  {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .carrousel{
        background-image: url(../img/canchas.jpg);
        height: 50%;
        background-position: center;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "carrousel";
        gap: 10px;
    }
    
    .carrousel .contenedor__ancho h1{
        font-size: 4em;
        color: #3a393a;
    }
    
    .contenedor__ancho-home {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .section__nosotros{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "imagen"
        "text";
        gap: 10px;
        margin-top: 3em;
    }
    
    .section__nosotros-porfolio {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "imagen" 
        "text";
        gap: 10px;
    }
    
    .section__directrices {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "directrices"
        "directrices"
        "directrices";
        gap: 10px;
    }

    .section__clases {
        @include orientacion_vertical;
    }

    .clases__notas {
        width: 100%;
    }
    .contenedor__ancho {
        padding: 0 30px
    }
}

@media only screen and (max-width:600px)  {
    footer .contenedor__ancho {
        @include orientacion_vertical;
        .article__footer {
            margin: 0 auto;
        }
        .nav__footer, .footer__redes {
            margin: 0 auto;
        }
        .nav__footer nav ul, .footer__redes nav ul {
            @include orientacion_horizontal;
        }
    }
    .titulo__banner {
        font-size: 3rem;
        text-shadow: 1px 2px 2px white, 0 0 1em white, 0 0 0.2em white;
    }
}

@media only screen and (max-width:400px)  {
    .titulo__principal{
        font-size: 2.4rem;
        color: #ffffff;
    }
    
    .contenedor__ancho-home {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "article_nosotros"
        "article_Clases"
        "article_Contacto";
        gap: 10px;
    }

    .section__nosotros{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "imagen"
        "text";
        gap: 10px;
        margin-top: 3em;
    }
    
    .section__nosotros-porfolio {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "imagen"
        "text";
        gap: 10px;
    }
    
    .section__directrices {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "directrices"
        "directrices"
        "directrices";
        gap: 10px;
    }

    .imagen1 {
        display: none;
    } 
}